# ROS 2 build files
build/
install/
log/

# Python artifacts
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
venv/

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# OS metadata
.DS_Store
Thumbs.db
